@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  }
  .body
  {
  }
  .heading
  {
  	margin-left: 40%;
  	border-left: 10px solid red;
  	width:500px;
  	background: grey;
  }
  .heading h1
  {
  	word-spacing: 10px;
  	height: 50px
  }
  .heading:hover
  {
  	background-color:aqua;
  }
  .container-fluid
  {
  	margin-top:80px;display: flex;
  }
.w3-container h2
{
	font-family: 'Poppin','sans-serif';
	text-align: center;
	margin-right: 13%;
	color:white;
}

.home-section{
    position: relative;
    background: #b30f0f;
    min-height: 10vh;
    width: 100%;
    transition: all 0.5s ease;
  }

  .dropdown-toggle:hover{
    color: rgb(207, 16, 16);
  }
.home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: rgb(157, 63, 63);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  
.home-section nav .sidebar-button{
    position: relative;
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
  }
.home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #505776;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
    cursor: pointer;
  }
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}





/* Responsive Media Query */
@media (max-width: 1240px) {
 
    .home-section nav{
      width: 100%;
      left: 60px;
    }
    
  }

@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  
}
.buttons
{
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap:4rem
}

